* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #ffaf00, #bb02ff);
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgb(0, 0, 0, 0.2);
  transition: 0.5s;
}
.container .card .circle {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(180px at center 0);
}
.container .card .circle h2 {
  color: #fff;
  font-size: 4.5em;
  padding: 30px 0;
}
.container .card .content {
  position: absolute;
  bottom: 10px;
  page-break-after: 20px;
  text-align: center;
}
.container .card .content p {
  color: #666;
}
.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
}
.container:hover .card {
  filter: blur(1px);
  transform: scale(0.9);
  opacity: 0.5;
}

.container .card:hover {
  filter: blur(0px);
  transform: scale(1.1);
  opacity: 1;
}

/* body {
  margin: 0;
  padding: 0;
  background: black !important;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: red;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  font-size: 40px;
}
.ring:before,
.ring:after {
  content: "";
  border: 50%;
  position: absolute;
  display: block;
  border: 1px solid white;
  left: -20px;
  top: -20px;
  right: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}
.ring:after {
  animation-delay: 0.9s;
}
@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.ring > i {
  color: white;
} */
